* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #3494e4;
  color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
  margin-top: 2rem;
}

header p {
  margin-top: 1rem;
  font-weight: 600;
  font-size: large;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-container {
  background-color: white;
  color: blue;
  border: 4px solid blue;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 150px;
  height: 300px;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  text-align: center;
  z-index: 50;
  display: flex;
  align-items: flex-end;
}

.inner {
  background-color: #3494e4;
  width: 100%;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instruction {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.smaller-containers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.smaller-container {
  background-color: white;
  color: blue;
  border: 4px solid blue;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 50px;
  height: 100px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.remaining {
  display: none;
}

.show-remaining {
  display: block;
  color: white;
}
